/***************************************/
/*********** section: layout ***********/
/***************************************/

#layout{
	width:94%;
	margin-top:3em;
	margin-inline:auto;
	padding-block:1em;
}

#layout > header{
	display:flex;
	align-items:center;
	gap:1.5em;
}

#layout header svg{
	height:5em;
	aspect-ratio:1/1;
}

#layout header svg path[fill="black"]{
	fill:var(--logo-text);
}


/***************************************************/
/*********** section: layout | image-map ***********/
/***************************************************/

#layout .image-map{
	font-size:1vw !important;
	position:relative;
}

#layout .image-map svg{
	width:100%;
}

#layout .image-map svg polygon{
	transition:var(--transition);
}

#layout .image-map svg > text{
	font-family:'Dax Regular';
	font-size:60px;
	isolation:isolate;
}

#layout .image-map > h4{
	font-size:1.5em;
	position:absolute;
	padding:.25em;
	opacity:0;
	cursor:default;
	display:flex;
	align-content:center;
	align-items:center;
	gap:.5em;
	z-index:3;
	transition:color .4s ease-in-out;
}

#layout .image-map > h4 a{
	display:flex;
	align-items:center;
	gap:.5em;
}

#layout .image-map > h4:hover,
#layout .image-map > h4:hover a{
	color:var(--logo-blue);
}

#layout .image-map > h4 svg{
	height:3em;
}

#layout .image-map > h4 svg path[fill="black"]{
	fill:var(--logo-text);
	transition:var(--transition);
}

#layout .image-map > h4:hover svg path[fill="black"]{
	fill:var(--logo-blue);
}

#layout .image-map .r1{
	top:9em;
	left:25.5em;
}

#layout .image-map .r2{
	top:7.5em;
	left:15.75em;
}

#layout .image-map .r3{
	top:3.5em;
	left:11.25em;
}

#layout .image-map .r4{
	top:12em;
	left:1em;
}

#layout .image-map .ticket{
	top:19.5em;
	left:20.5em;
}

#layout .image-map .cafe{
	top:22em;
	left:2.5em;
}


/***********************************************************/
/*********** section: layout | image-map: pop-up ***********/
/***********************************************************/

#layout .image-map article{
	width:45%;
	height:100%;
	border:2px solid var(--logo-text);
	box-sizing:border-box;
	padding-block:2em;
	padding-inline:2em 4em;
	background:white;
	cursor:default;
	opacity:0;
	position:absolute;
	right:0;
	top:0;
	display:hidden;
	transition:var(--transition);
}

#layout .image-map article header flex{
	margin-bottom:.5em;
	display:flex;
	gap:2em;
	align-items:center;
}

#layout .image-map article header flex svg{
	height:4em;
	width:4em;
}

#layout .image-map article > flex{
	height:80%;
	margin-top:1em;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#layout .image-map article > flex q{
	font-family:'Dax Regular';
}

#layout details{
	height:10em;
	border:2px solid black;
	box-sizing:border-box;
	padding-inline:3%;
	padding-block:.5em;
	cursor:pointer;
	transition:all .4s ease-in-out;
}


/**************************************************************/
/*********** section: layout | image-map: accordion ***********/
/**************************************************************/

#layout details{
	height:8em;
	margin-top:.5em;
	transition:var(--transition);
	overflow:hidden;
}

#layout details:first-of-type,
#layout details:nth-of-type(3){
	height:10em;
}

#layout details:first-of-type{
	margin-top:1em;
}

#layout details[open]{
	border-color:var(--logo-blue);
}

#layout details[open]:first-of-type{
	height:63em;
}

#layout details[open]:nth-of-type(2){
	height:59em;
}

#layout details[open]:nth-of-type(3){
	height:69em;
}

#layout details[open]:last-of-type{
	height:55em;
}

#layout details summary{
	list-style-type:none;
}

#layout details summary header{
	margin-bottom:1em;
	display:flex;
	gap:2em;
	align-items:center;
}

#layout details summary header svg{
	height:4em;
	width:4em;
	transition:all .4s ease-in-out;
}

#layout details[open] summary header svg{
	rotate:90deg;
}

#layout details summary header svg path{
	transition:var(--transition);
}

#layout details[open] summary header svg path[fill="black"]{
	fill:var(--logo-blue);
}

#layout details summary h4{
	text-wrap:balance;
}

#layout details .content{
	max-width:70ch;
	margin-block:2em 1em;
	margin-inline:auto;
	display:flex;
	flex-direction:column;
	gap:2em;
	opacity:0;
	transition:all .4s .4s ease-in-out;
}

#layout details[open] .content{
	opacity:1;
}

#layout details .content q{
	font-family:'Dax Regular';
}


/************************************************/
/*********** section: layout (tablet) ***********/
/************************************************/

@media (min-width:768px){
	#layout details{
		height:8em;
	}

	#layout details:first-of-type,
	#layout details:nth-of-type(3){
		height:8em;
	}

	#layout details[open]:first-of-type{
		height:39em;
	}

	#layout details[open]:nth-of-type(2){
		height:39em;
	}

	#layout details[open]:nth-of-type(3){
		height:45em;
	}

	#layout details[open]:last-of-type{
		height:37em;
	}
}


/*************************************************/
/*********** section: layout (desktop) ***********/
/*************************************************/

@media (min-width:1400px){
	#layout .image-map > h4{
		display:static;
		opacity:1;
	}

	#layout .image-map .r1:hover ~ .room-1,
	#layout .image-map .r2:hover ~ .room-2,
	#layout .image-map .r3:hover ~ .room-3,
	#layout .image-map .r4:hover ~ .room-4{
		opacity:1;
	}

	#layout .image-map .r1:hover ~ svg .room-1,
	#layout .image-map .r2:hover ~ svg .room-2,
	#layout .image-map .r3:hover ~ svg .room-3,
	#layout .image-map .r4:hover ~ svg .room-4,
	#layout .image-map .cafe:hover ~ svg .cafe{
		fill:var(--logo-blue-tint);
	}

	#layout .image-map svg{
		width:50%;
	}

	#layout .image-map svg text{
		display:none;
	}

	#layout .image-map article{
		display:static;
	}

	#layout details{
		display:none;
	}
}